<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Some Website</title>
</head>
<body>
{{> header}}

<p>projects page text would go here</p>

<!-- Handlebar.js way of importing partials-->
{{> footer}}
</body>
</html>